<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Agenda geral da MYVTMI.IM" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#ffffff" />
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Agenda Kung Fu", suffix: " · MYVTMI.IM" %>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>" />
    <link rel="manifest" href="<%= Routes.static_path(@conn, "/js/manifest.json") %>" />
    <script defer type="text/javascript" src='<%= Routes.static_path(@conn, "/js/app.js") %>'> </script>
</head>

<body>
    <header>
        <section class="container">
            <nav role="navigation">
                <!--ul>
            <li>
              <a
                href="https://calendar.google.com/calendar?cid=Z3N1aXRlLm15dnRtaS5pbV9iNzdjZml2MHJiaDJqc29xNDYwbnFtOTc5Y0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t"
              >
                Google Calendar
              </a>
            </li>
          </ul-->
            </nav>
            <a href="https://agenda.myvtmi.im" class="myvt-logo">
                <img src="<%= Routes.static_path(@conn, "/images/logo-myvtim.png") %>" alt="MYVTMI.IM" />
            </a>
        </section>
    </header>
    <%= @inner_content %>

</body>

</html>